In [1]:
'''
1.- Cargar el archivo a un Data Frame llamado “bk” y crear un subconjunto de 50 registros completos 
(independiente llamado “sbk” con los atributos (age, job, education, marital, month,balance, campaign).

2.- Calcular en “sbk” la media y desviación estandar de los campos (age, balance).

3.- Sustituir los valores “0” por la media del atributo “balance” en “bk”.

4.- Crear una tabla de frecuencias (conteo) para los atributos (“job”, “education”) y asignarla a 
una variable “tbk” del dataset “sbk”.

5.- Sustituir en el atributo “education” los valores “unknown” por “primary” y asignarlo a una variable 
llamada “edu” del dataset “bk”.

6.- Filtrar "bk", los atributos (education = “secondary”) y (loan = “no") o (duration >= 100)

7.- Filtrar "bk" por grupos de acuerdo a los atributos (“job”, “contact”) y sumarizar el campo ("balance"), 
ordenarlo de mayor a menor (descendente)

8.- Obtener una tabla cruzada donde pueda obtener la media (mean) del atributo “age” y la desviación
estandar del atributo “balance” agrupadas por el atributo “education”.  ("bk")
'''

'\n1.- Cargar el archivo a un Data Frame llamado “bk” y crear un subconjunto de 50 registros completos \n(independiente llamado “sbk” con los atributos (age, job, education, marital, month,balance, campaign).\n\n2.- Calcular en “sbk” la media y desviación estandar de los campos (age, balance).\n\n3.- Sustituir los valores “0” por la media del atributo “balance” en “bk”.\n\n4.- Crear una tabla de frecuencias (conteo) para los atributos (“job”, “education”) y asignarla a \nuna variable “tbk” del dataset “sbk”.\n\n5.- Sustituir en el atributo “education” los valores “unknown” por “primary” y asignarlo a una variable \nllamada “edu” del dataset “bk”.\n\n6.- Filtrar "bk", los atributos (education = “secondary”) y (loan = “no") o (duration >= 100)\n\n7.- Filtrar "bk" por grupos de acuerdo a los atributos (“job”, “contact”) y sumarizar el campo ("balance"), \nordenarlo de mayor a menor (descendente)\n\n8.- Obtener una tabla cruzada donde pueda obtener la media (mean) del atributo “age” y la desviación\nestandar del atributo “balance” agrupadas por el atributo “education”.  ("bk")\n'

In [2]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
'''
1.- Cargar el archivo a un Data Frame llamado “bk” y crear un subconjunto de 50 registros completos 
(independiente llamado “sbk” con los atributos (age, job, education, marital, month,balance, campaign).
'''
# We create our dataFrame
bk = pd.read_csv('bank2.csv')
print(bk)

    Unnamed: 0  age          job   marital  education default  balance  \
0            1   30   unemployed   married    primary      no     1787
1            2   33     services   married  secondary      no     4789
2            3   35   management    single   tertiary      no     1350
3            4   30   management   married   tertiary      no     1476
4            5   59  blue-collar   married  secondary      no        0
..         ...  ...          ...       ...        ...     ...      ...
95          96   41      unknown    single   tertiary      no     1567
96          97   41       admin.   married   tertiary      no     5426
97          98   30       admin.    single   tertiary      no      261
98          99   36  blue-collar  divorced  secondary      no     2843
99         100   31   unemployed    single    primary      no      406

   housing loan   contact  day month  duration  campaign
0       no   no  cellular   19   oct        79         1
1      yes  yes  cellular   11   may       220         1
2      yes   no  cellular   16   apr       185         1
3      yes  yes   unknown    3   jun       199         4
4      yes   no   unknown    5   may       226         1
..     ...  ...       ...  ...   ...       ...       ...
95      no   no  cellular    1   jul       291         2
96     yes   no   unknown   14   may       149         2
97      no   no  cellular   19   oct       233         1
98      no   no  cellular   12   feb       473         1
99      no   no  cellular    4   feb       736         1

[100 rows x 14 columns]

In [4]:
# Creation of a sub-group
sbk = bk[["age", "job", "marital", "education", "month", "balance", "campaign"]]
sbk = sbk.loc[0:49]
print(sbk)

    age            job   marital  education month  balance  campaign
0    30     unemployed   married    primary   oct     1787         1
1    33       services   married  secondary   may     4789         1
2    35     management    single   tertiary   apr     1350         1
3    30     management   married   tertiary   jun     1476         4
4    59    blue-collar   married  secondary   may        0         1
5    35     management    single   tertiary   feb      747         2
6    36  self-employed   married   tertiary   may      307         1
7    39     technician   married  secondary   may      147         2
8    41   entrepreneur   married   tertiary   may      221         2
9    43       services   married    primary   apr      -88         1
10   39       services   married  secondary   may     9374         1
11   43         admin.   married  secondary   apr      264         2
12   36     technician   married   tertiary   aug     1109         2
13   20        student    single  secondary   apr      502         1
14   31    blue-collar   married  secondary   jan      360         1
15   40     management   married   tertiary   aug      194         2
16   56     technician   married  secondary   aug     4073         5
17   37         admin.    single   tertiary   apr     2317         1
18   25    blue-collar    single    primary   may     -221         1
19   31       services   married  secondary   jul      132         1
20   38     management  divorced    unknown   nov        0         2
21   42     management  divorced   tertiary   nov       16         3
22   44       services    single  secondary   jun      106         2
23   44   entrepreneur   married  secondary   jul       93         2
24   26      housemaid   married   tertiary   jan      543         3
25   41     management   married   tertiary   nov     5883         2
26   55    blue-collar   married    primary   may      627         1
27   67        retired   married    unknown   aug      696         1
28   56  self-employed   married  secondary   jul      784         2
29   53         admin.   married  secondary   aug      105         2
30   68        retired  divorced  secondary   jul     4189         2
31   31     technician   married  secondary   aug      171         3
32   59     management   married  secondary   nov       42         1
33   32     management    single   tertiary   aug     2536         6
34   49     technician   married   tertiary   aug     1235         3
35   42         admin.  divorced  secondary   may     1811         1
36   78        retired  divorced    primary   oct      229         1
37   32    blue-collar   married  secondary   nov     2089         1
38   33     management   married  secondary   may     3935         1
39   23       services    single   tertiary   may      363        18
40   38     management    single   tertiary   nov    11971         2
41   36     management    single   tertiary   aug      553         2
42   52    blue-collar   married  secondary   may     1117         1
43   32     technician   married   tertiary   may      396         3
44   32     technician    single   tertiary   nov     2204         4
45   34     management    single   tertiary   may      872         2
46   55    blue-collar   married    primary   feb      145         3
47   26    blue-collar   married    primary   may        0         1
48   32   entrepreneur    single    primary   feb     -849         1
49   61         admin.   married    unknown   jan     4629         1

In [5]:
'''
2.- Calcular en “sbk” la media y desviación estandar de los campos (age, balance).
'''

'\n2.- Calcular en “sbk” la media y desviación estandar de los campos (age, balance).\n'

In [6]:
# Get the mean from age and balance
meanAge = sbk['age'].mean()
meanBalance = sbk['balance'].mean()
print('Mean age: ', meanAge)
print('Mean balance: ', meanBalance)

Mean age:  41.0
Mean balance:  1506.62

In [7]:
# Get the standard deviation from age and balance
deviationAge = sbk['age'].std()
deviationBalance = sbk['balance'].std()
print('Standard deviation age: ', deviationAge)
print('Standard deviation balance: ', deviationBalance)

Standard deviation age:  12.62165292063522
Standard deviation balance:  2420.3931784665374

In [8]:
'''
3.- Sustituir los valores “0” por la media del atributo “balance” en “bk”.
'''

'\n3.- Sustituir los valores “0” por la media del atributo “balance” en “bk”.\n'

In [9]:
# Substitue in bk the attribute balance with the mean
bk['balance'] = bk['balance'].replace(0,meanBalance)
print(bk)

    Unnamed: 0  age          job   marital  education default  balance  \
0            1   30   unemployed   married    primary      no  1787.00
1            2   33     services   married  secondary      no  4789.00
2            3   35   management    single   tertiary      no  1350.00
3            4   30   management   married   tertiary      no  1476.00
4            5   59  blue-collar   married  secondary      no  1506.62
..         ...  ...          ...       ...        ...     ...      ...
95          96   41      unknown    single   tertiary      no  1567.00
96          97   41       admin.   married   tertiary      no  5426.00
97          98   30       admin.    single   tertiary      no   261.00
98          99   36  blue-collar  divorced  secondary      no  2843.00
99         100   31   unemployed    single    primary      no   406.00

   housing loan   contact  day month  duration  campaign
0       no   no  cellular   19   oct        79         1
1      yes  yes  cellular   11   may       220         1
2      yes   no  cellular   16   apr       185         1
3      yes  yes   unknown    3   jun       199         4
4      yes   no   unknown    5   may       226         1
..     ...  ...       ...  ...   ...       ...       ...
95      no   no  cellular    1   jul       291         2
96     yes   no   unknown   14   may       149         2
97      no   no  cellular   19   oct       233         1
98      no   no  cellular   12   feb       473         1
99      no   no  cellular    4   feb       736         1

[100 rows x 14 columns]

In [10]:
'''
4.- Crear una tabla de frecuencias (conteo) para los atributos (“job”, “education”) y asignarla a 
una variable “tbk” del dataset “sbk”.
'''

'\n4.- Crear una tabla de frecuencias (conteo) para los atributos (“job”, “education”) y asignarla a \nuna variable “tbk” del dataset “sbk”.\n'

In [11]:
# Job frequency table
bkJob = sbk[['job']]
tbkJob = bkJob['job'].value_counts()
print(tbkJob)

management       13
blue-collar       8
technician        7
services          6
admin.            5
entrepreneur      3
retired           3
self-employed     2
unemployed        1
student           1
housemaid         1
Name: job, dtype: int64

In [12]:
# Education frequency table
bkEducation = sbk[['education']]
tbkEducation = bkEducation['education'].value_counts()
print(tbkEducation)

secondary    20
tertiary     19
primary       8
unknown       3
Name: education, dtype: int64

In [13]:
'''
5.- Sustituir en el atributo “education” los valores “unknown” por “primary” y asignarlo a una variable 
llamada “edu” del dataset “bk”.
'''

'\n5.- Sustituir en el atributo “education” los valores “unknown” por “primary” y asignarlo a una variable \nllamada “edu” del dataset “bk”.\n'

In [18]:
# Dataframe without unknown's in the education column
edu = bk.loc[bk["education"] == "unknown"]
edu['education'] = edu['education'].replace('unknown','primary')
print(edu)

    Unnamed: 0  age         job   marital education default  balance housing  \
20          21   38  management  divorced   primary      no  1506.62     yes
27          28   67     retired   married   primary      no   696.00      no
49          50   61      admin.   married   primary      no  4629.00     yes

   loan    contact  day month  duration  campaign
20   no   cellular   18   nov        96         2
27   no  telephone   17   aug       119         1
49   no   cellular   27   jan       181         1

C:\Users\victo_hhsj\AppData\Local\Temp\ipykernel_3872\3549756255.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu['education'] = edu['education'].replace('unknown','primary')

In [40]:
'''
6.- Filtrar "bk", los atributos (education = “secondary”) y (loan = “no") o (duration >= 100)
'''
multipleCondition = bk[(bk["duration"] >= 100) | ((bk["education"] == "secondary") & (bk["loan"] == "no"))]
print(multipleCondition)

    Unnamed: 0  age          job   marital  education default  balance  \
1            2   33     services   married  secondary      no  4789.00
2            3   35   management    single   tertiary      no  1350.00
3            4   30   management   married   tertiary      no  1476.00
4            5   59  blue-collar   married  secondary      no  1506.62
5            6   35   management    single   tertiary      no   747.00
..         ...  ...          ...       ...        ...     ...      ...
95          96   41      unknown    single   tertiary      no  1567.00
96          97   41       admin.   married   tertiary      no  5426.00
97          98   30       admin.    single   tertiary      no   261.00
98          99   36  blue-collar  divorced  secondary      no  2843.00
99         100   31   unemployed    single    primary      no   406.00

   housing loan   contact  day month  duration  campaign
1      yes  yes  cellular   11   may       220         1
2      yes   no  cellular   16   apr       185         1
3      yes  yes   unknown    3   jun       199         4
4      yes   no   unknown    5   may       226         1
5       no   no  cellular   23   feb       141         2
..     ...  ...       ...  ...   ...       ...       ...
95      no   no  cellular    1   jul       291         2
96     yes   no   unknown   14   may       149         2
97      no   no  cellular   19   oct       233         1
98      no   no  cellular   12   feb       473         1
99      no   no  cellular    4   feb       736         1

[87 rows x 14 columns]

In [55]:
'''
7.- Filtrar "bk" por grupos de acuerdo a los atributos (“job”, “contact”) y sumarizar el campo ("balance"), 
ordenarlo de mayor a menor (descendente)
'''
filteredBk = bk[["job", "contact", "balance"]]
filteredGroup = (filteredBk.groupby(['job', 'contact']).sum())
filteredGroup.sort_values("balance", ascending = False)
print(filteredGroup)

                          balance
job           contact
admin.        cellular   25501.00
              telephone   3064.00
              unknown     7237.00
blue-collar   cellular   23609.00
              telephone   -371.00
              unknown     8308.24
entrepreneur  cellular    -756.00
              unknown      223.00
housemaid     cellular     543.00
management    cellular   33815.86
              telephone     82.00
              unknown    20567.00
retired       cellular     420.00
              telephone   5114.00
              unknown      445.00
self-employed cellular    3246.00
services      cellular    6331.00
              telephone    657.00
              unknown    10255.00
student       cellular     502.00
technician    cellular   13426.00
              unknown      784.00
unemployed    cellular    2412.00
unknown       cellular    1567.00

In [56]:
'''
8.- Obtener una tabla cruzada donde pueda obtener la media (mean) del atributo “age” y la desviación
estandar del atributo “balance” agrupadas por el atributo “education”.  ("bk")
'''
# First we group by "education" and later we aggregate the mean and the deviation
crossedTable = bk.groupby('education').aggregate([np.mean, np.std])
print(crossedTable)

C:\Users\victo_hhsj\AppData\Local\Temp\ipykernel_3872\61130773.py:5: FutureWarning: ['job', 'marital', 'default', 'housing', 'loan', 'contact', 'month'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  bk.groupby('education').aggregate([np.mean, np.std])

          Unnamed: 0                   age                 balance  \
                mean        std       mean        std         mean
education
primary    56.941176  31.151787  42.941176  13.988703   387.565882
secondary  51.617021  28.084928  43.063830  11.316406  1824.515745
tertiary   47.181818  30.109648  36.606061   6.397946  2054.836970
unknown    33.000000  15.132746  55.333333  15.307950  2277.206667

                              day              duration              campaign  \
                   std       mean       std        mean         std      mean
education
primary     702.765853  13.882353  9.191588  367.411765  269.648396  1.705882
secondary  3403.739716  15.106383  7.755038  284.127660  287.635535  1.851064
tertiary   2529.860043  16.000000  7.681146  230.939394  179.939736  2.696970
unknown    2076.649972  20.666667  5.507571  132.000000   43.965896  1.333333


                std
education
primary    0.848875
secondary  1.215457
tertiary   2.984175
unknown    0.577350